.Button {
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #146a4a !important;
}

.Button:active {
  background-color: #146a4a !important;
}

.Button:focus {
  background-color: #24a273;
}

.Wide {
  padding: 12px;
  width: 100%;
}

.Spacer {
  margin-top: 12px;
}

.Bright:hover {
  background-color: #146a4a;
  color: #ffffff;
}

.Bright {
  background-color: #24a273;
  color: #fff;
}

.Dark:hover {
  background-color: #146a4a;
  color: #ffffff;
}

.Dark {
  background-color: #24a273;
  color: #fff;
}
