.Form {
  border: none;
  border-bottom: 2px #24a273 solid;
}

.Button {
  border: none;
  background-color: #24a273;
  color: #fff;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #146a4a;
  color: #fff;
}
