.NavBar {
  background-color: #fff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #31c48d;
}

.NavBrand {
  font-size: 1.25em;
  padding-left: 6px;
}

.NavLogo {
  padding-bottom: 7px;
}